@page "/customer"
@using System.Net.Http.Json

@inject HttpClient httpClient
@using System.Net.Http


<MudDataGrid Items="@Customers.Take(4)">
    <Columns>
        <TemplateColumn TItem="Customer">
            <Template>
                @if (Customers.Any())
                {
                    @foreach(var customer in Customers)
                    {
                        <div>
                            <span>Nr: @customer.CustomerId</span>
                            <span>@customer.CustomerName</span>
                            <span>@customer.NIF</span>
                            <span>@customer.CustomerEmail</span>
                            <span>@customer.Phone</span>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <span>Por favor, introduza dados.</span>
                    </div>
                }
            </Template>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {
    public List<BarberShop2024.Shared.Customer> Customers = new List<BarberShop2024.Shared.Customer>();

    protected override async Task OnInitializedAsync()
    {
        Customers = await httpClient.GetFromJsonAsync<List<BarberShop2024.Shared.Customer>>("https://localhost:7175/api/customer");
    }
}